#**loc and iloc**

**loc** is label-based, it means you have to specify rows and columns based on their labels


**iloc** is integer position-based, it means you have to specify rows and columns by their integer position values (0-based integer position)

In [2]:
import pandas as pd

In [18]:
dados = pd.read_excel('data.xlsx', index_col='Day')

In [19]:
dados

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

## Selecting a single value

Syntax:

loc[row_label, column_label]

iloc[row_position, column_position]

In [21]:
dados.loc['Fri', 'Wind']

26

In [25]:
dados.iloc[4,2]

26

### : to return all data

loc and iloc always return a Series when the result is 1-dimensional data

In [26]:
dados.loc[:, 'Humidity']

Day
Mon    30
Tue    96
Wed    20
Thu    22
Fri    79
Sat    62
Sun    10
Name: Humidity, dtype: int64

In [28]:
dados.iloc[:, -1]

Day
Mon    30
Tue    96
Wed    20
Thu    22
Fri    79
Sat    62
Sun    10
Name: Humidity, dtype: int64

In [30]:
dados.loc['Mon', :]

Weather        Sunny
Temperature    12.79
Wind              13
Humidity          30
Name: Mon, dtype: object

In [34]:
dados.iloc[0, :]

Weather        Sunny
Temperature    12.79
Wind              13
Humidity          30
Name: Mon, dtype: object

## Selecting a list of values

In [36]:
dados

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [37]:
dados.loc[:, ['Temperature', 'Wind']]

     Temperature  Wind
Day
Mon        12.79    13
Tue        19.67    28
Wed        17.51    16
Thu        14.44    11
Fri        10.51    26
Sat        11.07    27
Sun        17.50    20

In [39]:
dados.iloc[:, [1,2]]

     Temperature  Wind
Day
Mon        12.79    13
Tue        19.67    28
Wed        17.51    16
Thu        14.44    11
Fri        10.51    26
Sat        11.07    27
Sun        17.50    20

In [41]:
dados

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [44]:
dados.loc[['Fri', 'Sat'], :]

    Weather  Temperature  Wind  Humidity
Day
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62

In [46]:
dados.iloc[[-3, -2], :]

    Weather  Temperature  Wind  Humidity
Day
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62

In [47]:
dados.iloc[[-3, -2], [1, 2]]

     Temperature  Wind
Day
Fri        10.51    26
Sat        11.07    27

## Selecting a range of data via slice

Slice (start:stop:step)

### loc with slice

With loc, we can use the syntax A:B to select data from label A to label B (both A and B are included)

In [49]:
dados

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [52]:
dados.loc[:, 'Weather':'Wind']

    Weather  Temperature  Wind
Day
Mon   Sunny        12.79    13
Tue   Sunny        19.67    28
Wed   Sunny        17.51    16
Thu  Cloudy        14.44    11
Fri  Shower        10.51    26
Sat  Shower        11.07    27
Sun   Sunny        17.50    20

In [53]:
dados.loc['Wed':'Sat', 'Weather':'Wind']

    Weather  Temperature  Wind
Day
Wed   Sunny        17.51    16
Thu  Cloudy        14.44    11
Fri  Shower        10.51    26
Sat  Shower        11.07    27

In [54]:
dados

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [55]:
dados.loc['Fri', 'Wind']

26

In [57]:
dados.loc['Mon':'Fri':2, ['Weather', 'Temperature']]

    Weather  Temperature
Day
Mon   Sunny        12.79
Wed   Sunny        17.51
Fri  Shower        10.51

## iloc with slice


With iloc, we can also use the syntax n:m to select data from position n (included) to position m (excluded)

In [58]:
dados

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [59]:
dados.iloc[1:3, 1:3]

     Temperature  Wind
Day
Tue        19.67    28
Wed        17.51    16